@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');






* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: white;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    max-width: 1100px;
    place-items: center;
    margin: 0 auto;
    border-radius: 8px;
    overflow: hidden;
    
 
}



.column {
    float: left;
    width: 33.33%;
    height: 500px;
}

#orange {
    background-color: hsl(31, 77%, 52%);
    
}

#green {
    background-color: hsl(184, 100%, 22%);
    
}

#blue {
    background-color: hsl(179, 100%, 13%);
    
}

img {
    padding: 48px 0 0 48px;
}


.model {
    font-family: 'Big Shoulders Display';
    font-size: 40px;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: left;
    color: hsl(0, 0%, 95%);
    padding: 30px 48px 30px;
}

.text {
    display: block;
    font-weight: 400;
    font-size: 15px;
    font-family: 'Lexend Deca';
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 25px;
    font-style: normal;
    mix-blend-mode: normal;
    opacity: 0.75;
    margin: 0 48px 48px 48px;
}

button {
    margin-left: 48px;
    margin-top: 20px;
    width: 146px;
    height: 48px;
    border-radius: 25px;
    font-family: 'Lexend Deca';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    border: none;
    
}

#blue button {
    color:hsl(179, 100%, 13%); 
}

#green button {
    color:hsl(184, 100%, 22%); 
}

#orange button {
    color:hsl(31, 77%, 52%); 
}